.organization-page-container {
    width: 100%;
    padding: 20px 0 0 0;
    color: #303030;
}

.organization-info-container {
    background: #75C5F0;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.organization-info-edit-buttons-container {
    display: flex;
    margin-bottom: 20px;
}

.contact-container {
    margin-bottom: 40px;
    border: 2px solid #EEEEEE;
    border-radius: 5px;
    padding: 20px;
}

.organization-info-title {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 20px;
}

.organization-info-subtitle {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.organization-info-content {
    display: flex;
    font-size: 18px;
    margin-bottom: 15px;
}

.content-text {
    min-width: 245px;
}

.content-input {
    width: 100%;
    padding: 10px 5px;
    border: 2px solid #EEEEEE;
    border-radius: 4px;
    font-size: 18px;
    color: #303030;
}

.content-input:disabled {
    background: #EEEEEE;
}

.organization-info-button {
    width: 100%;
    background: #00386E;
    color: #FFFFFF;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
}

.control {
    width: 20%;
    margin-left: 80%;
}

.organization-info-button:hover {
    background-color: #002649;
    transition-duration: 0.2s;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.drop-btn {
    background-color: white;
    padding: 10px 5px;
    font-size: 18px;
    color: #303030;
    border: 2px solid #EEEEEE;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    text-align: left;
}

.drop-input {
    width: 100%;
    font-size: 18px;
    padding: 10px 15px;
    border: 0;
    border-radius: 4px;
}

.dropdown-content {
    display: none;
    width: 100%;
    position: absolute;
    background-color: #EEEEEE;
    border: 2px solid #EEEEEE;
    border-radius: 4px;
    cursor: pointer;
}

.dropdown-content p {
    color: #303030;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}

.dropdown-content p:hover {
    background-color: white;
}

.show {
    display:block;
}