* {
  box-sizing: border-box;
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-container {
  margin-right: 15%;
  margin-left: 15%;
  min-height: 819px;
}