* {
  box-sizing: border-box;
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-container {
  margin-right: auto;
  margin-left: auto;
  min-height: 819px;
  max-width: 1100px;
}